<footer class="footer">
  <div class="copyright">
    Copyright &copy; 2021. Created by
    <a href="mailto:drackerm@uci.edu?subject=MotoMeterWeb"
      ><span class="link">Dan Ackerman</span></a
    >.
  </div>
</footer>
