<p>Profile buttons:</p>
<p>
  <span class="btn-fake"><i class="fas fa-motorcycle"></i></span> |
  <span class="btn-fake">profile</span>
  <span class="highlight"><i class="fas fa-chevron-right"></i></span>
  profile overview/edit page.
</p>
<p>
  <span class="btn-fake"><i class="fas fa-clipboard-check"></i></span>
  |
  <span class="btn-fake">pre-ride</span>
  <span class="highlight"><i class="fas fa-chevron-right"></i></span>
  pre-ride inspections page
</p>
<p>
  <span class="btn-fake"><i class="fas fa-stopwatch"></i></span> |
  <span class="btn-fake">post-ride</span>
  <span class="highlight"><i class="fas fa-chevron-right"></i></span>
  update engine hours after a ride-day.
</p>
<p>
  <span class="btn-fake"><i class="fas fa-tools"></i></span> |
  <span class="btn-fake">maintenance</span>
  <span class="highlight"><i class="fas fa-chevron-right"></i></span>
  create/edit/sign-off maintenance tasks.
</p>
<p>
  <span class="btn-fake"><i class="fas fa-clipboard-list"></i></span>
  |
  <span class="btn-fake">notes</span>
  <span class="highlight"><i class="fas fa-chevron-right"></i></span>
  record notes, torques, specs, maintenance steps...
</p>
