<% layout("/layouts/boilerplate") %>
<section class="home-page">
  <div class="intro">
    <div>
      <h1 class="home-page-title">Welcome to MotoMeter</h1>
      <p class="sub-title">- a dirtbike maintenance tracker utility.</p>
      <div class="intro-questions">
        <p>
          Tired of using post-its, notepads or dry-erase boards to keep track of
          your bike's service requirements?
        </p>
        <p>Does your bike have an hourmeter?</p>
        <p>Let MotoMeter help.</p>
      </div>
    </div>
    <div>
      <div class="intro-bullets">
        <i class="fas fa-motorcycle animate-color"></i>
        <p>Create a profile for every dirtbike you own/maintain.</p>

        <i class="fas fa-tools animate-color"></i>
        <p>Create maintenance tasks and set the service interval.</p>

        <i class="fas fa-stopwatch animate-color"></i>
        <p>
          After each ride enter the new hourmeter reading to update the
          remaining time until service is due for each task.
        </p>

        <i class="fas fa-clipboard-list animate-color"></i>
        <p>
          Notes section to record torques, specifications, maintenance steps,
          and whatever else you have scribbled down in the garage.
        </p>

        <i class="fas fa-clipboard-check animate-color"></i>
        <p>Optional pre-ride inspection checklist.</p>
      </div>
    </div>
    <div class="gallery">
      <img
        srcset="/images/garage-sm.png, /images/garage-xs.png"
        alt="Garage page thumbnail"
        class="thumbnail"
      />
      <img
        src="/images/maint-sm.png"
        alt="Maintenance page thumbnail"
        class="thumbnail"
      />
      <!-- <img
        src="/images/post-sm.png"
        alt="Post-ride page thumbnail"
        class="thumbnail"
      /> -->
      <img
        src="/images/notes-sm.png"
        alt="Notes page thumbnail"
        class="thumbnail"
      />
      <img
        src="/images/pre-sm.png"
        alt="Pre-ride page thumbnail"
        class="thumbnail"
      />
    </div>
    <div class="intro-cta">
      <a href="/register" class="intro-reg get-link">
        <p class="col-primary">Sign Up</p>
        <p>to get started</p>
      </a>
      <div class="intro-android">
        <a
          href="https://play.google.com/store/apps/details?id=com.slack.motometer&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
          ><img
            class="google-badge get-link"
            alt="Get it on Google Play"
            src="/images/google-play-badge-sm.png"
        /></a>
      </div>
    </div>
  </div>
  <!-- Modal gallery -->
  <div class="modal" id="gallery-modal">
    <span class="close" id="gallery-close">&times;</span>
    <h3 class="form-header">App Gallery</h3>
    <div class="modal-gallery-contents">
      <div class="modal-gallery">
        <div class="main-image">
          <img src="/images/garage.png" alt="" id="main-image" />
        </div>
        <img
          src="/images/garage-sm.png"
          alt="Garage page thumbnail"
          class="thumbnail"
        />
        <img
          src="/images/maint-sm.png"
          alt="Maintenance page thumbnail"
          class="thumbnail"
        />
        <!-- <img
          src="/images/post-sm.png"
          alt="Post-ride page thumbnail"
          class="thumbnail"
        /> -->
        <img
          src="/images/notes-sm.png"
          alt="Notes page thumbnail"
          class="thumbnail"
        />
        <img
          src="/images/pre-sm.png"
          alt="Pre-ride page thumbnail"
          class="thumbnail"
        />
      </div>
    </div>
  </div>
</section>
<script>
  // Modal display
  const galleryModal = document.getElementById("gallery-modal");
  const triggers = document.querySelectorAll(".thumbnail");
  const closer = document.querySelector(".close");
  const mainImage = document.getElementById("main-image");
  // Display
  for (const trigger of triggers) {
    trigger.onclick = function (event) {
      galleryModal.style.display = "block";
      setMainImage(event.target);
    };
  }
  // Hide
  closer.onclick = function () {
    galleryModal.style.display = "none";
  };

  // Set Main Gallery Image
  function setMainImage(clicked) {
    const src = clicked.src;
    if (src.indexOf("garage") > -1) {
      mainImage.src = "/images/garage.png";
    } else if (src.indexOf("maint") > -1) {
      mainImage.src = "/images/maint.png";
    }
    // else if (src.indexOf("post") > -1) {
    //   mainImage.src = "/images/post.png";
    // }
    else if (src.indexOf("notes") > -1) {
      mainImage.src = "/images/notes.png";
    } else if (src.indexOf("pre") > -1) {
      mainImage.src = "/images/pre.png";
    }
  }
</script>
