/** vars **/

/** element selctors**/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: rgb(58, 58, 58);
  /* height: 100vh; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
} */

input {
  background-color: inherit;
  color: inherit;
  border: 1px solid rgb(76, 211, 139);
  outline-color: rgb(76, 211, 139);
  font-size: 1.5rem;
  padding: 0.25rem;
  border-radius: 5px;
}

input[type="number"] {
  max-width: 7rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(58, 58, 58) inset !important;
  -webkit-text-fill-color: #fff !important;
}

textarea {
  resize: none;
}

/** site wide **/
.page {
  margin-top: 4.5rem;
  height: 87vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  box-shadow: 0 2px 5px 1px rgba(0, 255, 255, 0.2);
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 3px 5px 1px rgba(0, 255, 255, 0.2);
}

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 1px 5px 1px rgba(0, 255, 255, 0.2);
}

/** Navbar **/
.navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  background-color: #000;
}

.navbar .brand a {
  display: flex;
  align-items: center;
}

.navbar a,
.navbar a:visited {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover,
.navbar a:active {
  color: #afafaf;
}

.logging a:not(:last-child) {
  padding-right: 1rem;
}

.btn-logging {
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 25%;
}

.navbar .btn-register {
  text-decoration: underline;
}

.user {
  color: #afafaf;
  padding-right: 1rem;
}
/* end - Navbar */

/** Profile page **/

.profile__box {
  border: 1px solid rgb(76, 211, 139);
  border-radius: 5px;
  padding: 1rem;
  margin: 0 auto;
  width: fit-content;
}

.profile__action-box {
  margin: 1rem 0;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.profile__image > img {
  max-height: 200px;
  border-radius: 5px;
}

.profile__image {
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 3 / 2;
  object-fit: fill;
}

.profile__action {
  border: 1px solid rgb(76, 211, 139);
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .profile__action-box {
    grid-template-columns: 1fr;
  }
}

.current-hours {
  font-size: 2rem;
  color: rgb(76, 211, 139);
}

.current-hours:hover {
  cursor: pointer;
}

.profile__update-hours-form {
  margin-top: 1rem;
}

.profile__nearest-task {
  margin-top: 1rem;
}

.profile__nearest-task-info {
  border: 1px solid rgb(76, 211, 139);
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
}

.due-in {
  color: rgb(76, 211, 139);
}
/* end - Profile page */

/** Profile header partial **/
.profile-header {
  position: fixed;
  top: 3.75rem;
  width: 80%;
  border: 1px solid #afafaf;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img {
  display: flex;
  align-items: center;
  width: 100px;
}

.profile-img img {
  width: 100%;
  border-radius: 3px;
}

.profile-links {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 60%;
}

.profile-info {
  /* min-height: 5rem; */
  display: flex;
  align-items: center;
}

.profile__action {
  width: 24%;
}

.active-action {
  background-color: rgb(52, 70, 60);
}

/* end - Profile header */

/** Maintenance page **/
.action-page {
  width: 80%;
  height: 100%;
  margin-top: 4.5rem;
}

.tasks__box {
  /* width: 70%; */
}

.tasks__task-box {
  overflow-y: auto;
}

/* Task partial */
.task-partial {
  border: 1px solid #afafaf;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.task__sign-off,
.task__edit {
  border: 1px solid rgb(76, 211, 139);
  width: 33%;
  height: 100%;
  border-radius: 5px;
}

.task__sign-off-form {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-off-label {
  display: inline-block;
  transform: translate(130%);
  margin-right: 0.5rem;
  transition: all 0.5s 0.1s;
}

.task__sign-off-form:hover > .sign-off-label {
  transform: translate(0);
  transition: all 0.5s;
}

.sign-off-action {
  transition: all 0.1s;
  visibility: hidden;
  opacity: 0;
}

.task__sign-off-form:hover > .sign-off-action {
  transition: all 0.5s 0.3s;
  visibility: visible;
  opacity: 1;
}

#newHours {
  vertical-align: middle;
}

.sign-off-submit {
  background-color: transparent;
  vertical-align: middle;
  border-radius: 5px;
}

.fa-check-square {
  font-size: 2.5rem;
  color: rgb(76, 211, 139);
}

.task__edit-label {
  display: inline-block;
  transform: translate(130%, 130%);
}

.task__edit-form {
  visibility: hidden;
}

/* Get rid of default button styling */
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* end - Task partial */
/* end - Maintenance page */

.tasks__new-task-form {
  border: 1px solid #afafaf;
}

/** Notes page **/
.notes {
  width: 100%;
  height: 100%;
}

.notes-form {
  height: 95%;
}

.notes-form textarea {
  width: 100%;
  height: 95%;
  border-radius: 5px;
  background-color: rgb(58, 58, 58);
  padding: 1rem;
  /* overflow-y: auto; */
  color: #afafaf;
}

.tray {
  display: flex;
  justify-content: space-between;
}

.btn-save {
  padding: 0.25rem 1rem;
  background-color: rgb(76, 211, 139);
  border-radius: 5px;
}

.btn-save i {
  margin-right: 0.5rem;
}

/* end - Notes page */

/** Inspection page **/

/* end - Inspection page */

/* form {
  transition: visibility 1.5s, opacity 1.5s;
  opacity: 1;
  visibility: visible;
  position: static;
} */

.form-row {
  display: flex;
  justify-content: space-between;
}

.new-task-toggle {
  z-index: 10;
  background-color: rgb(58, 58, 58);
  text-align: center;
  color: #afafaf;
}

.new-task-toggle:hover {
  background-color: rgb(95, 95, 95);
  color: #fff;
  cursor: pointer;
}

.hidden {
  position: absolute;
  top: -500px;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.register__page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding-bottom: 3rem;
}

.register__form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.register__form > * {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.register__form input {
  padding: 0.25rem;
  border-radius: 5px;
}

.register__form button {
  width: 100%;
  padding: 0.25rem 0;
  text-align: center;
  margin-top: 1rem;
}

.register__form a,
.register__form a:visited {
  text-decoration: none;
  color: #afafaf;
}

.register__form a:hover,
.register__form a:active {
  color: #fff;
}

.error-page {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-content {
  text-align: center;
  width: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5rem 10rem;
  color: rgb(0, 0, 0);
  background-color: rgb(220, 100, 100);
}

.flash {
  position: absolute;
  top: 1rem;
  /* left: 10rem; */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: fit-content;
  padding: 0.25rem;
  color: #fff;
  border-radius: 5px;
}

.success-flash {
  background-color: rgb(151, 211, 151);
}

.error-flash {
  background-color: rgb(220, 100, 100);
}

/** Footer section **/
.footer {
  background-color: rgb(0, 0, 0);
  color: #afafaf;
  padding: 0.75rem;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer a {
  text-decoration: none;
  color: rgb(76, 211, 139);
}

.footer a:hover,
.footer a:active {
  color: #fff;
}
