* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: rgb(58, 58, 58);
  height: 100vh;
}

input {
  background-color: inherit;
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(58, 58, 58) inset !important;
  -webkit-text-fill-color: #fff !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
  background-color: #000;
}

.navbar .brand a {
  display: flex;
  align-items: center;
}

.navbar a,
.navbar a:visited {
  text-decoration: none;
  color: #fff;
}

.navbar a:hover,
.navbar a:active {
  color: #afafaf;
}

.logging a:not(:last-child) {
  padding-right: 1rem;
}

.btn-logging {
  padding: 0.5rem 1rem;
  border: 2px solid #fff;
  border-radius: 25%;
}

.navbar .btn-register {
  text-decoration: underline;
}

.profile-page {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.profile__box {
  width: 30%;
}

.profile__image img {
  width: 100%;
  object-fit: fill;
}

.tasks__box {
  width: 33.3333%;
}

.notes {
  width: 33.3333%;
}

.notes label {
  text-decoration: underline;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.notes textarea {
  margin-top: -20px;
  padding: 25px 5px 5px 5px;
  width: 100%;
  height: 100%;
  background-color: inherit;
  color: inherit;
}

.tasks__new-task-form {
  border: 1px solid #afafaf;
}

form {
  transition: visibility 1.5s, opacity 1.5s;
  opacity: 1;
  visibility: visible;
  position: static;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.new-task-toggle {
  z-index: 10;
  background-color: rgb(58, 58, 58);
  text-align: center;
  color: #afafaf;
}

.new-task-toggle:hover {
  background-color: rgb(95, 95, 95);
  color: #fff;
  cursor: pointer;
}

.hidden {
  position: absolute;
  top: -500px;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
}

.nearest-task {
  margin-top: 1rem;
}

.register__page {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__form {
  width: 50%;
}

.register__form > * {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.register__form input {
  padding: 0.25rem;
  border-radius: 5px;
}

.register__form button {
  width: 100%;
  padding: 0.25rem 0;
  text-align: center;
  margin-top: 1rem;
}

.register__form a,
.register__form a:visited {
  text-decoration: none;
  color: #afafaf;
}

.register__form a:hover,
.register__form a:active {
  color: #fff;
}

.error-page {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-content {
  text-align: center;
  width: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5rem 10rem;
  color: rgb(0, 0, 0);
  background-color: rgb(220, 100, 100);
}
