<% layout("/layouts/boilerplate") %>
<div class="action-page">
  <% include ../partials/profileHeader %>
  <section class="tasks__page-grid">
    <h2 class="tasks__title">Maintenance Tasks</h2>

    <div class="tasks__task-box">
      <!-- prettier-ignore -->
      <%  if (profile.tasks) { %> 
        <%  for (const [index, task] of profile.tasks.entries()) { %>
            <% include ../partials/task %> 
        <% } } %>
    </div>
    <div class="modal-trigger">
      <h3 class="btn btn-fw mb-sm">Add New Maintenance Task?</h3>
    </div>
  </section>
  <!-- Modal Form -->
  <div class="modal" id="modal">
    <span class="close">&times;</span>
    <form
      action="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/maintenance"
      method="POST"
      class="modal-form"
    >
      <h3 class="form-header">Create New Task</h3>
      <div class="modal-form-contents">
        <div class="modal-form-window">
          <div class="modal-form-items">
            <div class="modal-form-line">
              <label for="title" class="modal-form-label"
                >Title / Description</label
              >
              <input
                type="text"
                class="modal-form-input"
                id="title"
                name="task[title]"
                placeholder="Task description"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="interval" class="modal-form-label"
                >Maintenance Interval (hrs):
              </label>
              <input
                type="number"
                class="modal-form-input"
                step=".1"
                id="interval"
                name="task[interval]"
                placeholder="e.g 7.5"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="lastDoneAt" class="modal-form-label"
                >Last completed at (hrs):
              </label>
              <input
                type="number"
                class="modal-form-input"
                step=".1"
                id="lastDoneAt"
                name="task[lastCompletedAt]"
                placeholder="e.g. 7.5"
                required
              />
            </div>
          </div>
          <button class="btn btn-fw">Create Task</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  document.querySelectorAll("input").forEach((input) => {
    input.addEventListener("focus", function () {
      this.value = "";
    });
  });
</script>
<script>
  // Confirm deletion script
  function deleteConfirmation() {
    return confirm("Are you sure? This action is irreversible...");
  }

  // Modal form script
  const modal = document.getElementById("modal");
  const trigger = document.querySelector(".modal-trigger");
  const modalClose = document.querySelector(".close");

  trigger.onclick = function () {
    modal.style.display = "block";
  };

  modalClose.onclick = function () {
    modal.style.display = "none";
  };
</script>
