<% layout("/layouts/boilerplate") %>
<div class="action-page">
  <% include ../partials/profileHeader %>
  <section class="notes">
    <div class="tray">
      <h2>Notes</h2>
    </div>
    <form
      action="/home/<%=currentUser.username%>/profiles/<%=profile._id%>/notes"
      method="POST"
      class="notes-form"
    >
      <textarea
        class="bg-dark-border"
        name="notes"
        id="notes"
        cols="30"
        rows="10"
        placeholder="Record notes, specs, torques, maintenance steps,..."
      >
<%= profile.notes || "" %></textarea
      >
      <button class="btn btn-fw py-xs"><i class="fas fa-save"></i>save</button>
    </form>
  </section>
</div>
