<% layout("/layouts/boilerplate") %>
<div class="action-page">
  <% include ../partials/profileHeader %>
  <section class="notes">
    <div class="page-header">
      <h2>Notes</h2>
      <span class="link modal-trigger" id="help-trigger"
        >help <i class="far fa-question-circle"></i
      ></span>
    </div>
    <form
      action="/<%=currentUser.username%>/garage/<%=profile.url%>/notes"
      method="POST"
      class="notes-form"
    >
      <textarea
        class="bg-dark-border"
        name="notes"
        id="notes"
        cols="30"
        rows="10"
        placeholder="Record notes, specs, torques, maintenance steps,..."
        spellcheck="false"
      >
<%= profile.notes || "" %></textarea
      >
      <button class="btn btn-primary btn-fw py-xs">
        <i class="fas fa-save"></i>save
      </button>
    </form>
  </section>
  <!-- Modal help -->
  <div class="modal" id="help-modal">
    <span class="close" id="help-close">&times;</span>
    <h3 class="form-header">Notes Help</h3>
    <div class="modal-form-contents">
      <div class="modal-help-window">
        <section class="help-list">
          <p>This page is used as a note pad.</p>
          <p>
            Use this space to record any information pertaining to this bike
            profile.
          </p>
          <p>
            e.g. Torques, valve clearance specs (both target and last measured),
            maintenance steps for specific repairs, reminders, etc.
          </p>
          <p>
            Be sure to select the
            <span class="btn-fake"><i class="fas fa-save"></i>save</span> button
            at the bottom before navigating away from the page to save any
            changes.
          </p>
          <p>Profile buttons:</p>
          <p>
            <span class="btn-fake">profile</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            profile overview/edit page.
          </p>
          <p>
            <span class="btn-fake">pre-ride</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            pre-ride inspections page
          </p>
          <p>
            <span class="btn-fake">post-ride</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            update engine hours after a ride-day.
          </p>
          <p>
            <span class="btn-fake">maintenance</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            create/edit/sign-off maintenance tasks.
          </p>
          <p>
            <span class="btn-fake">notes</span>
            <span class="highlight"><i class="fas fa-chevron-right"></i></span>
            record notes, torques, specs, maintenance steps...
          </p>
        </section>
      </div>
    </div>
  </div>
</div>
<script>
  // Modal display script
  const formModal = document.getElementById("form-modal");
  const helpModal = document.getElementById("help-modal");
  const triggers = document.querySelectorAll(".modal-trigger");
  const closers = document.querySelectorAll(".close");
  // Display
  for (const trigger of triggers) {
    trigger.onclick = function (event) {
      switch (event.target.id) {
        case "form-trigger":
          formModal.style.display = "block";
          break;
        case "help-trigger":
          helpModal.style.display = "block";
          break;
      }
    };
  }
  // Hide
  for (const close of closers) {
    close.onclick = function (event) {
      switch (event.target.id) {
        case "form-close":
          formModal.style.display = "none";
          break;
        case "help-close":
          helpModal.style.display = "none";
          break;
      }
    };
  }
</script>
