<% layout("/layouts/boilerplate") %>
<div class="action-page">
  <% include ../partials/profileHeader %>
  <section class="post-ride__page">
    <h1>Post Ride</h1>
    <form
      action="/home/<%=currentUser.username%>/profiles/<%=profile._id%>?_method=PATCH"
      method="POST"
      class="post-ride__form bg-dark-border"
    >
      <h4>Update your engine hours</h4>
      <div>
        <label for="hours">New engine hours: </label>
        <input
          type="number"
          step=".1"
          id="hours"
          name="hours"
          value="<%= profile.hours %>"
          min="<%= profile.hours %>"
          required
        />
      </div>
      <button class="btn btn-primary py-xs">Update Hours</button>
    </form>
  </section>
</div>
