<% layout("/layouts/boilerplate") %>
<div class="logging-page">
  <form action="/login" method="POST" class="logging-form" autocomplete="off">
    <h2 class="form-header mb-sm">Login</h2>
    <div class="logging-form-line">
      <label for="username" class="logging-form-label">Username</label>
      <input
        type="text"
        class="logging-form-input"
        id="username"
        name="username"
        placeholder="username"
        required
      />
    </div>
    <div class="logging-form-line">
      <label for="password" class="logging-form-label">Password</label>
      <input
        type="password"
        class="logging-form-input"
        id="password"
        name="password"
        placeholder="password"
        required
      />
    </div>
    <div>
      <button class="btn btn-primary btn-fw mt-sm py-xs">LOG IN</button>
    </div>
  </form>
</div>
