<% layout("/layouts/boilerplate") %>
<div class="page">
  <form action="/login" method="POST" class="register__form">
    <div class="page-title">
      <h1>Login</h1>
    </div>
    <div class="username">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div>
      <button class="btn">LOG IN</button>
    </div>
  </form>
</div>
