<% layout("/layouts/boilerplate") %>
<div class="page">
  <form action="/register" method="POST" class="register__form">
    <div class="page-title">
      <h1>Register</h1>
    </div>
    <div class="username">
      <label for="username">Username</label>
      <input type="text" id="username" name="user[username]" required />
    </div>
    <div class="email">
      <label for="email">Email</label>
      <input type="email" id="email" name="user[email]" required />
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input type="password" id="password" name="user[password]" required />
    </div>
    <div class="password-ver">
      <label for="password-ver">Password - verify</label>
      <input
        type="password"
        id="password-ver"
        name="user[password2]"
        required
      />
    </div>
    <div>
      <button class="btn">REGISTER</button>
    </div>
    <div>
      <p>Already registered? <a href="/login">LOG IN</a></p>
    </div>
  </form>
</div>
