<% layout("/layouts/boilerplate") %>
<div class="logging-page">
  <form
    action="/register"
    method="POST"
    class="logging-form"
    autocomplete="off"
    onsubmit="validatePasswords"
  >
    <h2 class="form-header mb-sm">Register</h2>
    <div class="logging-form-line">
      <label for="username" class="logging-form-label">Username</label>
      <input
        type="text"
        class="logging-form-input"
        id="username"
        name="user[username]"
        placeholder="username"
        required
      />
    </div>
    <div class="logging-form-line">
      <label for="email" class="logging-form-label">Email</label>
      <input
        type="email"
        class="logging-form-input"
        id="email"
        name="user[email]"
        placeholder="email address"
        required
      />
    </div>
    <div class="logging-form-line">
      <label for="password" class="logging-form-label">Password</label>
      <input
        type="password"
        class="logging-form-input"
        id="password"
        name="user[password]"
        placeholder="password: 8-16 characters"
        required
        minlength="8"
        maxlength="16"
      />
    </div>
    <div class="logging-form-line">
      <label for="password-ver" class="logging-form-label">Password</label>
      <input
        type="password"
        class="logging-form-input"
        id="password-ver"
        name="user[password2]"
        placeholder="verify password"
        required
        minlength="8"
        maxlength="16"
      />
    </div>
    <div>
      <button class="btn btn-primary btn-fw mt-sm py-xs">REGISTER</button>
    </div>
  </form>
  <p class="mt-sm">
    Already registered? <a href="/login" class="logging-link">LOG IN</a>
  </p>
</div>
