<% layout("/layouts/boilerplate") %>
<div class="non-action-page">
  <div class="user-home__page-grid grid">
    <div class="page-header">
      <h2>
        My
        <span class="highlight"><i class="fas fa-warehouse"></i></span>
      </h2>
      <span class="link modal-trigger" id="help-trigger"
        >help <i class="far fa-question-circle"></i
      ></span>
    </div>
    <div class="user-home__profiles">
      <!-- prettier-ignore -->
      <% if (user.bikeProfiles) { for (const profile of user.bikeProfiles) { %>
      <% include ../partials/profileTab %> <% } } %> 
      <% if (!user.bikeProfiles || !user.bikeProfiles.length) { %>
      <p class="empty-collection-msg">
        No bike profiles created yet. Click below to create one.
      </p>
      <% } %>
    </div>
    <div class="modal-trigger">
      <h3 class="btn btn-primary btn-fw mb-sm py-xs" id="form-trigger">
        Create New Bike Profile?
      </h3>
    </div>
  </div>
  <!-- Modal help -->
  <div class="modal" id="help-modal">
    <span class="close" id="help-close">&times;</span>
    <h3 class="form-header">User Home Help</h3>
    <div class="modal-form-contents">
      <div class="modal-help-window">
        <section class="help-list">
          <p>
            This page represents your garage
            <span class="highlight"><i class="fas fa-warehouse"></i></span>. All
            tracked profiles will appear here.
          </p>
          <p>
            Select
            <span class="btn-fake">Create New Bike Profile?</span> button at the
            bottom of the screen to add bike profiles to your garage.
          </p>
          <p>
            Each profile pane shows the current engine hours, the nearest
            maintenance task (if created) and the pre-ride inspection status (if
            created).
          </p>
          <p>
            Selecting the profile image will take you to that profile's overview
            page where it may be <span class="highlight">edited</span> or
            <span class="col-danger">deleted</span> if needed.
          </p>
          <% include ../partials/modalHelp %>
        </section>
      </div>
    </div>
  </div>
  <!-- Modal Form -->
  <div class="modal" id="form-modal">
    <span class="close" id="form-close">&times;</span>
    <form
      action="/<%=user.username%>"
      method="POST"
      class="modal-form"
      autocomplete="off"
      enctype="multipart/form-data"
    >
      <h3 class="form-header">New Bike Profile</h3>
      <div class="modal-form-contents">
        <div class="modal-form-window">
          <div class="modal-form-items">
            <div class="modal-form-line">
              <label for="year" class="modal-form-label">YEAR</label>
              <input
                type="text"
                class="modal-form-input"
                id="year"
                name="profile[year]"
                placeholder="manufacture year"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="make" class="modal-form-label">MAKE</label>
              <input
                type="text"
                class="modal-form-input"
                id="make"
                name="profile[make]"
                placeholder="manufacturer"
                required
              />
            </div>

            <div class="modal-form-line">
              <label for="model" class="modal-form-label">MODEL</label>
              <input
                type="text"
                class="modal-form-input"
                id="model"
                name="profile[model]"
                placeholder="model series"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="hours" class="modal-form-label">HOURS</label>
              <input
                type="text"
                class="modal-form-input"
                id="hours"
                name="profile[hours]"
                placeholder="current engine hours"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="image" class="modal-form-label">IMAGE</label>
              <input
                type="file"
                class="modal-form-input"
                id="image"
                name="image"
              />
            </div>
          </div>
          <button class="btn btn-primary btn-fw py-xs">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  // Modal display script
  const formModal = document.getElementById("form-modal");
  const helpModal = document.getElementById("help-modal");
  const triggers = document.querySelectorAll(".modal-trigger");
  const closers = document.querySelectorAll(".close");
  // Display
  for (const trigger of triggers) {
    trigger.onclick = function (event) {
      switch (event.target.id) {
        case "form-trigger":
          formModal.style.display = "block";
          break;
        case "help-trigger":
          helpModal.style.display = "block";
          break;
      }
    };
  }
  // Hide
  for (const close of closers) {
    close.onclick = function (event) {
      switch (event.target.id) {
        case "form-close":
          formModal.style.display = "none";
          break;
        case "help-close":
          helpModal.style.display = "none";
          break;
      }
    };
  }
</script>
