<% layout("/layouts/boilerplate") %>
<div class="non-action-page">
  <div class="user-home__page-grid">
    <div class="user-home__header">
      <h1>Welcome back, <%=currentUser.username%>!</h1>
    </div>
    <div class="user-home__profiles">
      <% if (user.bikeProfiles) { for (const profile of user.bikeProfiles) { %>
      <% include ../partials/profileTab %> <% } } %> <% if (!user.bikeProfiles
      || !user.bikeProfiles.length) { %>
      <p class="empty-collection-msg">
        No bike profiles created yet. Click below to create one.
      </p>
      <% } %>
    </div>
    <div class="modal-trigger">
      <h3 class="btn btn-primary btn-fw mb-sm py-xs">
        Create New Bike Profile?
      </h3>
    </div>
  </div>
  <!-- Modal Form -->
  <div class="modal" id="modal">
    <span class="close">&times;</span>
    <form
      action="/home/<%=user.username%>/profiles"
      method="POST"
      class="modal-form"
      autocomplete="off"
      enctype="multipart/form-data"
    >
      <h3 class="form-header">New Bike Profile</h3>
      <div class="modal-form-contents">
        <div class="modal-form-window">
          <div class="modal-form-items">
            <div class="modal-form-line">
              <label for="year" class="modal-form-label">YEAR</label>
              <input
                type="text"
                class="modal-form-input"
                id="year"
                name="profile[year]"
                placeholder="manufacture year"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="make" class="modal-form-label">MAKE</label>
              <input
                type="text"
                class="modal-form-input"
                id="make"
                name="profile[make]"
                placeholder="manufacturer"
                required
              />
            </div>

            <div class="modal-form-line">
              <label for="model" class="modal-form-label">MODEL</label>
              <input
                type="text"
                class="modal-form-input"
                id="model"
                name="profile[model]"
                placeholder="model series"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="hours" class="modal-form-label">HOURS</label>
              <input
                type="text"
                class="modal-form-input"
                id="hours"
                name="profile[hours]"
                placeholder="current engine hours"
                required
              />
            </div>
            <div class="modal-form-line">
              <label for="image" class="modal-form-label">IMAGE</label>
              <input
                type="file"
                class="modal-form-input"
                id="image"
                name="image"
              />
            </div>
          </div>
          <button class="btn btn-primary btn-fw py-xs">Create</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  const modal = document.getElementById("modal");
  const trigger = document.querySelector(".modal-trigger");
  const modalClose = document.querySelector(".close");

  trigger.onclick = function () {
    modal.style.display = "block";
  };

  modalClose.onclick = function () {
    modal.style.display = "none";
  };
</script>
