<% layout("/layouts/boilerplate") %>
<div class="non-action-page">
  <div class="user-home__page-grid">
    <div class="user-home__header">
      <h1>Welcome back, <%=currentUser.username%>!</h1>
    </div>
    <div class="user-home__profiles">
      <% if (user.bikeProfiles) { for (const profile of user.bikeProfiles) { %>
      <% include ../partials/profileTab %> <% } } %>
    </div>
    <div class="user-home__new-profile">
      <form
        action="/home/<%=user.username%>/profiles"
        method="POST"
        class="new-profile-form"
      >
        <h3 class="form-header">New Bike Profile</h3>
        <div class="grid-item">
          <label for="year">YEAR</label>
          <input
            type="text"
            id="year"
            name="profile[year]"
            placeholder="manufacture year"
          />
        </div>
        <div class="grid-item">
          <label for="make">MAKE</label>
          <input
            type="text"
            id="make"
            name="profile[make]"
            placeholder="manufacturer"
          />
        </div>

        <div class="grid-item">
          <label for="model">MODEL</label>
          <input
            type="text"
            id="model"
            name="profile[model]"
            placeholder="model series"
          />
        </div>
        <div class="grid-item">
          <label for="hours">HOURS</label>
          <input
            type="text"
            id="hours"
            name="profile[hours]"
            placeholder="Current engine hours"
          />
        </div>
        <button class="btn form-submit">Create</button>
      </form>
    </div>
  </div>
</div>
